@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



body{
    background-color: black;
    color: white;
    font-family: roboto;
}




.container{
    height: 100vh;
}
.right{
    
    width: 75vw;
    background-color: #121212;
    position: relative;
    /* overflow: auto; */
    
    
}

.left{
    
    width: 25vw;
    
}

.headicons svg{
    border-radius: 50%;
    
    background-color: black;
    transition: all ease-in-out 0.4s;
    cursor: pointer;
}
.headicons svg:hover{
    border: solid white 1px;
    transform: scale(1.5);
    

}
.head{
    background-color: #0c0b0b;

}
.nav{
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    


}

.sgn-btn{
    
    /* background-color: #121212; */
    background-color: #0c0b0b;

    /* color: #656565; */
    color: #b1aeae;

    padding: 10px;
    border: none;
    /* border: solid 1px black; */
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: ease-in-out 0.3s;

}

.login-btn{
    background-color: white;
    color: black;
    padding: 10px;
    border: solid 1px white;
    border-radius: 8px;
    
    font-weight: bold;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}
.buttons{
    gap: 15px;
}


.sgn-btn:hover{
    transform: scale(1.2);
    color: white;
}

.login-btn:hover{
    transform: scale(1.2);
    background-color: black;
    color: white;
    border: solid 1px black;

}

.section1{
    flex-direction: column;
    gap:30px;
    padding: 20px;
}

.leftup li{
    display: flex;
    list-style: none;
    gap: 15px;
    width: 22px;
    font-size: 18px;
    
    align-items: center;
    cursor: pointer;
    color: #b8b7b7;
    transition: all ease-in-out 0.4s;

}

.leftup li img{
    color: #656565;
}

.leftup li:hover{
    transform: scale(1.2);
    color: white;

}

.logoarea img{
    height: 30px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.logoarea img:hover{
    transform: scale(1.2);
    /* transform: translateX(50%); */
}


.leftup{
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.section1{
    background-color: #121212;
    padding: 20px;
}

.librarysection{
    background-color: #121212;
    padding: 25px;
    min-height: 80vh;

    

    
    position: relative;
}

.liblogo img{
    width: 30px;
    color: #656565;
    
}

.liblogo{
    align-items: center;
    gap: 20px;
    

}

.libtext{
    color: #b8b7b7;
    
}

.upperlib span{
    cursor: pointer;
    transition: ease-in-out 0.4s;

}

.upperlib span:hover{
    transform: scale(1.2);
    color: white;
}

.upperlib{
    padding: 8px;
    
    
    
    
}

.spotifyplaylist{

    /* height: 100vh; */
    background-color: #121212;
    height: 95vh;


    padding: 24px;

}

.spotifyplaylist h1{
    margin-bottom: 20px;
    cursor: pointer;
    /* transition: all 0.4s ease-in-out; */
    
    

}

.spotifyplaylist h1:hover{
    /* transform: scale(1.1); */
    text-decoration: underline;
}

.cardcontainer{
    flex-wrap: wrap;
    gap: 20px;
}

.card{
    width: 200px;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    position: relative;


}



.card h2{
    font-size: 20px;
    font-weight:400;
}

.card p{
    font-weight: 400;
    color: #b1aeae;
    font-size: 13px;

}

.card img{
    width: 100%;
    object-fit: contain;
    transition: all 0.4s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;

    
}



.card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #1f1e1e;
    transform: scale(1.1);
    
}

.playbar{
    position: absolute;
    width: 90%;
    
    background-color: white;

    margin-right: 20px;
    height: 40px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card svg {
    position: absolute;
    bottom: 10px;
    /* display: none; */
    opacity: 0;
    left: 130px;
    width: 50px;
    transition: all ease-out 0.3s;

  }


.card svg:hover{
    opacity: 1;
    position: absolute;
    bottom: 73px;
    left: 130px;
    width: 50px;
    
  }


.songbutton{
    justify-content: center;
    gap: 10px;
    align-items: center;
}


.songList{
    flex-direction: column;
    padding: 7px;
    padding-top: 20px;
    gap: 20px;
   
}

.songList ul li{
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    gap: 20px;
}

.songcard{
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    gap: 40px;
    border-radius: 8px;
    height: 70px;
    border: #b1aeae solid 2px;
    padding: 5px;
    /* width: 10px; */


}

.songdetails{
    flex-direction: column;

}

.songonedetail{
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.playsong{
    gap: 10px;
    justify-content: center;
    align-items: center;
}