



*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.box {
    height: 100px;
    width: 100px;   
    background-color: red;
    border: solid 1px black;
}

@media (max-width: 300px) {
    .box {
        background-color: green;
    }
}

