
.circle{
    
    height: 200px;
    width: 200px;





    border: #E26EE5 20px solid;
    border-top: 20px solid #49108B;
    
    border-radius: 50%;
    animation: spinAnimate ease-in-out 0.4s infinite;
   

}

@keyframes spinAnimate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}